MINTJavaSDK/src/mint-studyroot.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="studyRoot">
    <xsd:complexType>
      <xsd:attribute name="studyInstanceUid" type="xsd:string" use="required" />
      <xsd:attribute name="lastUpdate" type="xsd:string" use="required" />
      <xsd:attribute name="version" type="xsd:integer" use="required" />
    </xsd:complexType>
  </xsd:element>
</xsd:schema>
