MINTMetadata/src/mint-type.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema attributeFormDefault="unqualified" elementFormDefault="qualified" version="1.0" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="type" type="dictionaryType" />
  <xsd:complexType name="dictionaryType">
    <xsd:sequence>
      <xsd:element name="attributes" type="attributeDefsType" />
      <xsd:element name="study-attributes" type="attributeRefsType" />
      <xsd:element name="series-attributes" type="attributeRefsType" />
    </xsd:sequence>
    <xsd:attribute name="name" type="xsd:string" />
    <xsd:attribute name="version" type="xsd:decimal" />
  </xsd:complexType>
  <xsd:complexType name="attributeDefsType">
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" name="attribute" type="attributeType" />
    </xsd:sequence>
    <xsd:attribute name="unknown-attributes" type="xsd:string" />
  </xsd:complexType>
  <xsd:complexType name="attributeRefsType">
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" name="attribute" type="attributeType" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="attributeType">
    <xsd:attribute name="tag" type="xsd:string" />
    <xsd:attribute name="code" type="xsd:string" />
    <xsd:attribute name="vr" type="xsd:string" />
  </xsd:complexType>
</xsd:schema>